#!/usr/bin/env bash

# This file is sourced by zkEnv.sh provided that the directory containing this
# file is stored in $ZOOCFGDIR, which is being set in the systemd unit file.

ZOO_LOG_DIR="{{ zookeeper_logs }}"
